<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Eduardo Eugênio de Souza</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
  
  <h4 style="margin-bottom: 80px;">Se você deseja alterar algum conteúdo no site, escolha dentre estas opções:</h4>
  
  <div style="margin-bottom: 40px;">
    <a href="formGenero/add/">Adicionar algo que acha que os jogadores apreciam em BTD6</a>
  </div>
  
  <div style="margin-bottom: 40px;">
    <a href="formGenero/">Alterar algum dos temas que os jogadores apreciam em BTD6</a>
  </div>

  <div style="margin-bottom: 40px;">
    <a href="formHistoria/add/">Contar uma história que aconteceu com você no BTD6</a>
  </div>

  <div style="margin-bottom: 40px;">
    <a href="formHistoria/">Alterar alguma história</a>
  </div>

</body>