{% extends "header.html" %}

{% block content %}
<body>
  
  <h4 style="margin-bottom: 80px;">Se você deseja alterar algum conteúdo no site, escolha dentre estas opções:</h4>
  
  <div style="margin-bottom: 40px;">
    <a href="formGenero/add/">Adicionar algo que acha que os jogadores apreciam em BTD6</a>
  </div>
  
  <div style="margin-bottom: 40px;">
    <a href="formGenero/">Alterar algum dos temas que os jogadores apreciam em BTD6</a>
  </div>

  <div style="margin-bottom: 40px;">
    <a href="formHistoria/add/">Contar uma história que aconteceu com você no BTD6</a>
  </div>

  <div style="margin-bottom: 40px;">
    <a href="formHistoria/">Alterar alguma história</a>
  </div>

  <div>
    <a href="{% url 'home' %}">Voltar a página inicial</a>
  </div>
</body>
{% endblock %}