{% extends "header.html" %}

{% block content %}

<body>
  <div style="padding-top:150px; padding-bottom:20px">
  <h2 style="padding-bottom:20px">{{ frase }}</h2>
  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_ul }}
      <input type="submit" value="Enviar">
  </form>
  </div>
  {% if usuario %}
    <p>Para alterar sua senha siga este link <a href="{% url 'password_reset' %}">aqui</a></p>
  {% else %}
    <a href="{% url 'home' %}alterar">Voltar a página anterior</a>
  {% endif %}
</body>
{% endblock %}