<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Eduardo Eugênio de Souza</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  {% block extrafonts %}{% endblock %}
</head>

  {% if user.is_authenticated %}
    <span class="sidebar">
      <h4>Bem vindo, {{ user.username }}</h4>
      <a href="{% url 'logout' %}">Logout</a>
      <div style="margin-top:20px;">
        <a href="{% url 'home' %}">Home</a>
      </div>
      <div style="margin-top:20px;">
        <a href="users/editar/{{ user.id }}">Alterar seus dados</a>
      </div>
    </span>
  {% endif %}
<div class="main">
{% block content %}
{% endblock %}
</div>