{% extends "header.html" %}

{% block content %}

<body>

  <h3>Favor não alterar estas histórias:</h3>

  <ol style="margin-top: 100px;">
    {% for frase in historiasFixas %}
      <li>{{frase.titulo}}
        | <a href="edit/{{ historiasFixas.id }}">  Alterar </a>
        ou
        <a href="remove/{{ historiasFixas.id }}"> Remover </a>
      </li>
    {% endfor %}

  <h3 style="margin-top: 150px;">Histórias enviadas por usuários:</h3>
    {% for frase in historiasUsuarios %}
      <li>História de {{frase.autor}}:
        <p>"{{frase.titulo}}"</p>
        <div>
          | <a href="edit/{{ frase.id }}"> Alterar </a>
          ou
          <a href="remove/{{ frase.id }}"> Remover </a>
          esta história
        </div>
      </li>
    {% endfor %}
  </ol>


  <div style="margin-top: 100px;">
  <a href="{% url 'home' %}">Voltar a página inicial</a>
  </div>
</body>
{% endblock %}