{% extends "header.html" %}

{% block content %}

<body>

  <h3>Estes são os temas que estão listados no site:</h3>
  
  <ul style="margin-top: 150px;">
    {% for genero in generos %}
      <li>{{genero.titulo}}
        <a href="edit/{{ genero.id }}"> Alterar </a>
        <a href="remove/{{ genero.id }}"> Remover </a>
      </li>
    {% endfor %}
  </ul>

  <div style="margin-top: 100px;">
  <a href="https://atividade-04-formularios-no-django-duduardo64.eng4021-20232.repl.co/">Voltar a página inicial</a>
  </div>
</body>
{% endblock %}